@import url('../../styles/color.less');

.station{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: 0;
    background-color: rgba(255,255,255,0);
    &__box{
        background-color: #fff;
        display: inline-block;
        width: 30%;
        height: 100%;
        font-size: .28rem;
        overflow: scroll;
        ul{
            width: 100%;
            li{
                padding: .24rem;
                border-bottom: @grey1 solid .02rem;
            }
        }
    }
    &__title{
        background-color: @color3;
        color: #fff;
        padding: .1rem .24rem !important;
    }
    &__line{
        background-color: @grey1;
        .active{
            background-color: #fff;
        }
    }
    &__node{
        border-right: @grey1 solid .02rem;
        border-left: @grey1 solid .02rem;
    }
    &__mask{
        display: inline-block;
        width: 40%;
        height: 100%;
    }
}