.station {
  position: fixed;
  left: 0;
  height: 100%;
  width: 70%;
  font-size: 0;
  overflow: scroll;
}
.station__box {
  float: left;
  display: inline-block;
  width: 50%;
  font-size: .24rem;
}
.station__box li {
  padding: .24rem;
  border-bottom: #f5f5f5 solid 0.02rem;
}
.station__title {
  background-color: #3ECB87;
  color: #fff;
  padding: .1rem .24rem !important;
}
.station__node {
  border-right: #f5f5f5 solid 0.02rem;
  border-left: #f5f5f5 solid 0.02rem;
}
