@color1: #00793F;
@color2: #1F8956;
@color3: #00B25C;
@color4: #59ECA6;
@color5: #A1ECC8;

@red: #f5222d;
@volcano: #fa541c;
@orange: #fa8c16;
@yellow-green: #a0d911;
@green: #52c41a;
@blue: #1890ff;
@purple: #722ed1;
@pink: #eb2f96;