.headerbar {
  position: fixed;
  top: 0;
  height: 1rem;
  width: 100%;
  background-color: #fff;
  border-bottom: #f5f5f5 solid 0.02rem;
  font-size: .35rem;
  text-align: center;
  padding-top: .25rem;
}
.headerbar__back {
  position: fixed;
  left: .2rem;
  top: .3rem;
  width: .4rem;
  height: .4rem;
}
